@import '../../styles/variables/breakpoints.scss';
@import '../../styles/variables/colors.scss';

.leadTextsContainer {
  width: 50%;
  float: left;
}

.bigLeadText {
  font-size: 5.0rem;
  margin-top: 20vh;
}

.subLeadText {
  font-size: 2.0rem;
  margin-top: 2.0rem;
  line-height: 3.0rem;
}

.bigLeadText, .subLeadText {
  text-align: center;
}

 .modelsContainer {
  width: 50%;
  height: 100vh;
  float: right;
 }

 .signupContainer {
  width: 50%;
  float: left;
  text-align: center;
 }

.signupForm {
  margin: 5vh auto 0 auto;
  width: 80%;
}

.emailField, .submitButton {
  border: 2px solid  $contrast-text-color;
  font-size: 1.6rem;
  padding: 0.4em;
}

.emailFieldWrapper {
  display: block;
  overflow: hidden;
}

.emailField {
  width: 100%;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background: transparent;
  color: $contrast-text-color;

  &::placeholder {
    color: $contrast-text-color;
  }

  &:focus {
    outline: 0;
  }
}

.submitButton {
  border-radius: 0 5px 5px 0;
  background-color: $default-background-color;
  float: right;
  color: $default-text-color;
}

.signupDescription {
  font-size: 1.1rem;
  margin-top: 1em;
}

 @media screen and (max-width: $full-mobile-width-breakpoint) {
  .leadTextsContainer, .modelsContainer, .signupContainer {
    width: 100%;
    float: none;
  }

  .bigLeadText {
    font-size: 3.5rem;
  }

  .subLeadText {
    font-size: 1.6rem;
  }

  .modelsContainer {
    height: 50vh;
  }
}