@import '../../styles/variables/breakpoints.scss';

.fullHeightSection {
  min-height: 100vh;
}

.leadTextsContainer {
  width: 50%;
  float: left;
  padding: 20vh 20px 0 20px;
}

.bigLeadText {
  font-size: 5.0rem;
}

.subLeadText {
  font-size: 2.0rem;
  margin-top: 2.0rem;
  line-height: 1.5em;
}

.bigLeadText, .subLeadText {
  text-align: center;
}

 .modelsContainer {
  width: 50%;
  height: 90vh;
  float: right;
  margin: 5vh 0;
 }

 .signupContainer {
  width: 50%;
  float: left;
  text-align: center;

  form {
    margin: 5vh auto 0 auto;
    width: 80%;
  }
 }

 @media screen and (max-width: $full-mobile-width-breakpoint) {
  .leadTextsContainer, .modelsContainer, .signupContainer {
    width: 100%;
    float: none;
  }

  .leadTextsContainer {
    padding: 20px;
  }

  .bigLeadText {
    font-size: 3.0rem;
  }

  .subLeadText {
    font-size: 1.5rem;
  }

  .modelsContainer {
    height: 40vh;
  }
}