@import '../../styles/variables/breakpoints.scss';

.fullHeightSection {
  position: relative;
  min-height: 100vh;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.leadTextsContainer {
  width: 50%;
  float: left;
  padding: 20vh 20px 0 20px;
}

.bigLeadText {
  font-size: 5.0rem;
}

.subLeadText {
  font-size: 2.0rem;
  margin-top: 2.0rem;
  line-height: 1.5em;
}

.bigLeadText, .subLeadText {
  text-align: center;
}

 .modelsContainer {
  width: 50%;
  height: 100vh;
  float: right;
 }

 .signupContainer {
  width: 50%;
  float: left;
  text-align: center;

  form {
    margin: 5vh auto 0 auto;
    width: 80%;
  }
 }

 .downArrow {
   position: absolute;
   left: calc(50% - 16px);
   bottom: 0;

   width: 32px;
   height: 32px;

   animation: pointy 5s infinite;
   animation-fill-mode: both;

   cursor: pointer;
 }

 @keyframes pointy {
  0%,
  100% {
    transform:translateY(-10px);
    transform:translateY(-10px)
  }
  50% {
    transform:translateY(0);
    transform:translateY(0)
  }
}

@media screen and (max-width: $full-mobile-width-breakpoint) {
  .leadTextsContainer, .modelsContainer, .signupContainer {
    width: 100%;
    float: none;
  }

  .logo {
    left: calc(50% - 60px);
    top: 10px;
    width: 120px;
  }

  .leadTextsContainer {
    margin-top: 35px;
    padding: 20px;
  }

  .bigLeadText {
    font-size: 2.5rem;
  }

  .subLeadText {
    font-size: 1.5rem;
  }

  .modelsContainer {
    height: 45vh;
  }

  .signupContainer {
    form {
      margin-top: 10px;
    }
  }
}