@import '../../styles/variables/breakpoints.scss';

.listItem {
  height: 200px;
}

.centerIcon {
  width: 35px;
  margin: 20px auto;
  display: block;
}

@media screen and (max-width: $full-mobile-width-breakpoint) {
  .listItem {
    height: auto;
  }
}
