@import "../../layouts/bootstrap/functions";
@import "../../layouts/bootstrap/mixins";
@import "../../layouts/bootstrap/variables";
@import "../../layouts/theme/variables";
@import "../../layouts/theme/mixins";
@import "../../layouts/theme/utility/color";

// Scale up the modal
@include media-breakpoint-up(sm) {
  .modal {
    max-width: 700px !important;
  }
}

.formLegend {
  font-size: $font-size-sm;
}

.digiOptionContainer {
  cursor: pointer;
  margin-bottom: 1em;
}

.digiOptionSelected {
  border-color: $success;
}

.selectButton {
  width: 10em;
}

.helpText {
  font-size: 80%;
  color: $color-text;
}
