@import '../../styles/variables/breakpoints.scss';

.listItem {
  width: 250px;
  height: 360px;
  text-align: center;
}

.portrait {
  width: 200px;
  height: 200px;
}

.title {
  margin: -10px 0 10px 0;
  font-size: 1.6rem;
}

 @media screen and (max-width: $full-mobile-width-breakpoint) {
  .listItem {
    height: auto;
  }
}