$default-background-color: #f6f6f6;
$default-text-color: #505354;
$contrast-background-color: rgb(183, 227, 233);
$contrast-text-color: $default-text-color;
$separator-color: rgb(44, 55, 64);
$headline-color: #424246;