$default-background-color: #f6f6f6;
$default-text-color: #505354;
$contrast-background-color: rgb(44, 55, 64);
$contrast-text-color: rgb(249, 251, 252);
$separator-color: $contrast-background-color;
$headline-color: #424246;