.imgSize {
    width: 200px;
    height: 200px;
}

.teamPicture {
    border-radius: 10rem;
    margin-bottom: 2rem;
    height: 15rem
}

.gradientBackground {
    min-height: 100vh;
    background: radial-gradient(ellipse at center, #fff 0%, #ddd 50%, #a7a7a7 100%);
    margin: 0;
    overflow-x: hidden;
}

.centerAbout {
    padding-top: 2em;
}
