@import "../layouts/bootstrap/functions";
@import "../layouts/bootstrap/mixins";
@import "../layouts/bootstrap/variables";
@import "../layouts/theme/variables";
@import "../layouts/theme/mixins";
@import "../layouts/theme/utility/color";

.imgSize {
    width: 200px;
    height: 200px;
}

.teamPicture {
    border-radius: 10rem;
    margin-bottom: 2rem;
    max-height: 15rem;
}

.gradientBackground {
    min-height: 100vh;
    background: radial-gradient(ellipse at center, #fff 0%, #eef1f8 100%);
    margin: 0;
    overflow-x: hidden;
}

.centerAbout {
    padding-top: 2em;
}

.textLogo {
    height: 200px;
    font-size: 3rem;
    text-align: center;
    color: $color-text;
    padding-top: 50px;
}

.width100 {
    width: 100%;
}
