@import '../../styles/variables/colors.scss';

.form {
  width: 100%;
}

.emailField, .submitButton {
  border: 2px solid  $contrast-text-color;
  font-size: 1.6rem;
  padding: 0.4em;
}

.emailFieldWrapper {
  display: block;
  overflow: hidden;
}

.emailField {
  width: 100%;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background: transparent;
  color: $contrast-text-color;

  &::placeholder {
    color: $contrast-text-color;
  }

  &:focus {
    outline: 0;
  }
}

.submitButton {
  border-radius: 0 5px 5px 0;
  background-color: $default-background-color;
  float: right;
  color: $default-text-color;

  &:focus {
    outline: 0;
  }
}

.invalid {
  border-color: #f00;
}

.description {
  font-size: 1.1rem;
  margin-top: 1em;
}

.thanks {
  font-size: 1.6rem;
  margin-top: 30px;
}

.isSubmitting {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from { transform: rotateX(0deg); }
  to   { transform: rotateX(359deg); }
}
