@import '../variables/colors.scss';

html {
  // We use rem units for fonts - see https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  background-color: $default-background-color;
}