@import '../variables/breakpoints.scss';
@import '../variables/colors.scss';
@import '../variables/zIndexes.scss';

.section {
  width: 100%;
  color: $default-text-color;
}

.contrastSection {
  overflow: hidden;
  background-color: $contrast-background-color;
  color: $contrast-text-color;
}

.inner {
  padding: 50px;
  text-align: center;
}

.headline {
  font-size: 4.0rem;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.listItem {
  width: 250px;
  padding: 0 10px;
  margin: auto;
  text-align: left;
  position: relative;
}

.listItemHeader {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  z-index: $list-item-foreground-z-index;
  position: relative;
}

.listItemBody {
  font-size: 1.6rem;
  line-height: 1.5em;
  z-index: $list-item-foreground-z-index;
  position: relative;
}

.listIcon {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 20px 0 0;
}

.bottomIcon {
  width: 35px;
  margin: 10px 10px 0 10px;
  vertical-align: middle;
}

 @media screen and (max-width: $full-mobile-width-breakpoint) {
  .headline {
    font-size: 3.0rem;
  }

  .listItem {
    height: auto;
    margin-bottom: 40px;
  }
}