@import '../variables/breakpoints.scss';
@import '../variables/colors.scss';

.section {
  width: 100vw;
  color: $default-text-color;
}

.contrastSection {
  overflow: hidden;
  background-color: $contrast-background-color;
  color: $contrast-text-color;
}

.inner {
  padding: 50px;
  text-align: center;
}

.headline {
  font-size: 4.0rem;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.listItem {
  width: 250px;
  margin: auto;
  text-align: left;
}

.listItemHeader {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.listItemBody {
  font-size: 1.6rem;
  line-height: 1.5em;
}

 @media screen and (max-width: $full-mobile-width-breakpoint) {
  .headline {
    font-size: 3.0rem;
  }

  .listItem {
    height: auto;
    margin-bottom: 40px;
  }
}